$dark: #333;            // nästan svart, till t.ex. bakgrund
$dusk: #5c5c5c;         // mörkgrå, till t.ex. knappar
$light: #e8e8e8;        // eggskalsvit, till t.ex. text, ikoner
$twilight: #7b7b7b;      // grå, till rubrik på startsidan
$logo: #fb7200;        // orange, till logotyp, knappar m.m.
$shadow: #000;       // svart, till inner-border för input-fields och knappar
